In [91]:
var1 = int (input ('Enter the value1  '))

var2 = int (input ('Enter the value2  '))

sum = var1 + var2

print('Print addition of two number: ', sum  )

sub = var1 - var2

print('Print Subtraction of two number: ', sub  )

mul = var1 * var2
print('Print multification of two number: ', mul  )

div = var1 / var2
print('Print division of two number: ', div  )

Enter the value1  2
Enter the value2  3
Print addition of two number:  5
Print Subtraction of two number:  -1
Print multification of two number:  6
Print division of two number:  0.6666666666666666

In [92]:
type(var1)

int

In [93]:
floatNum = float(input('enter flaot num: '))

print('input float number is:', floatNum)

print('type is:', type(floatNum))

enter flaot num: 2.2
input float number is: 2.2
type is: <class 'float'>

In [94]:
#  input list in python
input_string = input('input list of element: ')

list = input_string.split()

sum = 0
print('calculate sum of elements: ')

for num in list:
    sum += int(num)
print('sum = ', sum)

input list of element: 2 3 4 5
calculate sum of elements:
sum =  14

In [95]:
Name = input("enter the name 10len ")
Salary = input('enter the salary 7len ')
company = input('Enter the company name20 ')

print('Print the employee details')
print ('Name      ', 'Salary ', 'Company name         ')
print (Name, Salary, company)

enter the name 10len ram
enter the salary 7len 23
Enter the company name20 2eeee
Print the employee details
Name       Salary  Company name
ram 23 2eeee

In [96]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary();
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [26]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append((2, "ram"))
print(sampleList)

['Jon', 'Kelly', 'Jessa', (2, 'ram')]

In [98]:
def cal(num1, num2 = 4):
    
    res = num1 * num2
    
    print ('res')
    
    cal(5, 6)

In [99]:
for i in range( 10, 15, 1):
    print(i, end=', ')

10, 11, 12, 13, 14,

In [100]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [101]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [102]:
36/ 4

9.0

In [103]:
9.0 *5

45.0

In [104]:
45.0 * 6

270.0

In [105]:
45.0*4

180.0

In [106]:
180.0 + 2

182.0

In [107]:
#"""hi"""

In [108]:
for i in range(10):
    i > 8
    print(i)
print(20)

0
1
2
3
4
5
6
7
8
9
20

In [109]:
if True:
    
    print('Machine Learning')
    c = "AAI"

Machine Learning

In [110]:
a = 1 + 2 + 3 +\
    4 + 5 +  \
    6 + 7 
print(a)

28

In [111]:
b = (1 + 2 + 3 +
    4 + 5 +  
    6 + 7 )
print(b)

28

In [112]:
a =10; b=20; c=40

In [113]:
a

10

In [114]:
c

40

In [115]:
b

20

# Variable assignments

In [116]:
#variable

a = 10
b = 2.2
c = 'ML'

In [117]:
a,b,c = 10, 2.2, "ML"

In [118]:
a = 2
print(id(a))

1958768128

In [119]:
b = 2
print(id(b))

1958768128

In [121]:
q = 1 +2j
print(a, 'is complext number')
print(type(q))

2 is complext number
<class 'complex'>

# Boolean

In [122]:
a = True
print(type(a))

<class 'bool'>

# String in Python

In [127]:
w = """This is AIML 
    course"""
print(type(w))
print(w)

<class 'str'>
This is AIML
    course

In [129]:
print(w[0])

T

In [131]:
print(w[-2])

s

In [134]:
# slicing
w[3:10]

's is AI'

# Python list

In [139]:
a = [10, 20, 30, 'Hi'] # list can have nit folt, string
print(a[3])

Hi

In [140]:
print(a)

[10, 20, 30, 'Hi']

In [141]:
a[2]= 30.40

In [142]:
print(a)

[10, 20, 30.4, 'Hi']

In [148]:
# tople and () added in this braket
# list [] list can added in this bracket
# {} set

t = (2,4,1, "ML")
print(t[2])

1

In [149]:
t[1]=2.34

TypeError: 'tuple' object does not support item assignment

# python set

In [153]:
b = {20,3,40,50,10, 20}
print(b)

{3, 40, 10, 50, 20}

In [154]:
print(b[3])

TypeError: 'set' object does not support indexing

# Python Dictionary

In [159]:
s = {'a':"apple", 'b':"bat"}

print(s['c'])

KeyError: 'c'

# Conversion between datatypes

In [160]:
float(2)

2.0

In [161]:
int(2.3)

2

str()2

In [162]:
str(3)

'3'

In [167]:
user = 'Ram'
lines = 100

print("congrats "+ user +"! you have just wrote " + str(lines)+ " lines of code")

congrats Ram! you have just wrote 100 lines of code

# we can convert one sequence to another

In [168]:
a =(2,3,5)

print(type(a))

s = set(a)

print(type(s))

<class 'tuple'>
<class 'set'>

In [1]:
list1= ('hello')

#print(type(list1))
list1('hello')

TypeError: 'str' object is not callable

# Membership operators

In [5]:
# in and not in
lst = [1,2,3,5,]
print(1 in lst)

True

In [8]:
print(7 in lst)
print (7 not in lst)

False
True

In [10]:
d = {1:'q', 2:"b"}
print(3 in d)

False

# IF Else

In [20]:
#num = input('enter the num: ')
num = 12
if num >= 10:
    print('postive')
else:
    print('negetive')

postive

In [26]:
#num = -20
#num = 0
num = -20
if num > 0:
    print ('positve')
elif num ==0:
    print('zero')
else:
    print('negetive')

negetive

# Nated if else

In [29]:
num = 0
if num >= 0:
    if num == 0:
        print('zero')
    else:
        print('positive')
else:
    print('negetive')

zero

In [32]:
# largest number

n1=20
n2=40
n3=15
if (n1>= n2) and (n1>=n3):
    largest = n1
elif (n2>=n3) and (n2>=n3):
    largest = n2
else:
    largest = n3
print('largest num: {}'. format(largest))

largest num: 40

# while loop

In [39]:
lst = [20,40,20,10,50]
product =1
index = 0

while index < len(lst):
    product *= lst(index)
    index +=1
    print('product is:  {}'. format(product))

TypeError: 'list' object is not callable

In [54]:
num = input('enter value:' )
isDivisible = false
i = 2;
while i < num:
    if num == 0:
        isDivisible = True
    print('{} isdivisible {}'. format(num,i))
    i+=1;
if isDivisible:
    print('is not a prime number{}'. format(num))
else:
    print('{} is prime number'. format(num))

enter value:22

NameError: name 'false' is not defined

# python contiune and break statements

In [66]:
lst = [10,12,30,24]
#num = 2
for num in lst:
    if num % 2 == 0:
        continue
        print('num')  
    else:
        print('else block')
    
print(len(lst)) # len function to fine the given list of length

4

# Module1: Data structure 

# Delete, Remove, Append, Extend

In [72]:
# Delete function
lst1 = [2,3,5,6,]
print(len(lst1))

#del lst1(3) # we can delete the element using del function

a = lst1.pop(2) # we can delete the element using pop function
print(a)
print(lst1)

4
5
[2, 3, 6]

In [76]:
lst3 = [30,20,33,22,10,2,4]

lst3.remove(33) # its remove the geive elements

print(lst3)

[30, 20, 22, 10, 2, 4]

In [79]:
lst1.append(lst3) # append the list

print(lst1) # list append print
print(lst3) #  print the lst3

[2, 3, 6, [30, 20, 22, 10, 2, 4], [30, 20, 22, 10, 2, 4], [30, 20, 22, 10, 2, 4]]
[30, 20, 22, 10, 2, 4]

In [80]:
lst1.extend(lst3)

print(lst1)

[2, 3, 6, [30, 20, 22, 10, 2, 4], [30, 20, 22, 10, 2, 4], [30, 20, 22, 10, 2, 4], 30, 20, 22, 10, 2, 4]

# In and Not In

In [90]:
lst4=['one', 'two', 'three']
if 'ten' in lst4:
    print('True')
#else:
 #   print('flase')
    
if 'five' not in lst4:
    print('true')

true

In [109]:
lst5 = [33,2,4,20,10,43]

print(lst5[0:3]) # its print from starting to given positon 0:3

print(lst5[3:5]) # its print the values from given position 3:5 between 

print(lst5[::2])

print(lst5[2: :2])

[33, 2, 4]
[20, 10]
[33, 4, 10]
[4, 10]

# Count function

In [115]:
n = [10,2,3,4,55,6,2,4,10,34,33,10]

print(n.count(10)) # count the element how much time present in the list

3

# Tuple ()
# List []
# set {}

In [127]:
# tuple
t = (1,2,3,4)
#t = (1,'ram', 20, 'geet')
#t = (1,(2,3),[1,'ram', 2,'sac'])


print(t)

(1, 2, 3, 4)

In [128]:
print( 1 in t)

print(8 in t)

#st = sorted(t)
#print(st)

True
False

In [130]:
print(max(t))
print(min(t))
print(sum(t))

4
1
10

In [137]:
# set operation

s1 = {1,2,3,4,}
s2 = {3,4,5,6}

print (s1 | s2)
print(s1.union(s2))

print(s1 ^ s2) # get only diff elements in bot set
print(s1 - s2)
print(s1 & s2)
print(s1.symmetric_difference(s2))
print(s1.symmetric_difference_update(s2))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 5, 6}
{1, 2}
{3, 4}
{1, 2, 5, 6}
None

In [138]:
# 11/18/19
# Python - function

In [158]:
def fun1(name):
    
    print('frist function ' + str(name))

In [159]:
fun1('sachin')

frist function sachin

In [163]:
def sum1(lst):
    sum2 =0
    for num in lst:
        sum2 += num
        return sum2

In [165]:
s = sum1([22, 42,])
print(s)

22

In [168]:
def f1(data):
    print("f2 is " + str(data))

In [169]:
f1('second function')

f2 is second function

In [173]:
# Global var
# local var

global_var = 'this is global variable'

def test_var():
    local_var = 'this is local variable'
    print(local_var)
    
    #
    print(global_var)
    
# call function

test_var()
print(global_var)
#
print(local_var) #- its give the error as below

this is local variable
this is global variable
this is global variable

NameError: name 'local_var' is not defined

In [178]:
# highest commanon factor
def chcf(a, b):
    smaller = b if a > b else a
    hfc = 1
    for i in range(1, smaller+1):
        if (a % i == 0) and (b % i == 0):
            hcf =i
            return hcf
n1 = 98
n2 = 78

print("hfc of {0} and {1} is: {2}".format(n1, n2, chcf(n1,n2)))

hfc of 98 and 78 is: 1

# lambday function

In [182]:
# Lambda fucntion

x = lambda a:a + 4
print(x(5))

9

In [191]:
# Mul
x = lambda a, b : a * b

print("Multification ", + x(2, 3))

# add
y = lambda a, b : a + b

print("Addintion ", + y(2, 3))

# sub
z = lambda a, b : a - b
print("Subtraction ", + z(2, 3))

# Div
q = lambda a, b : a / b
print("Division ", + q(2, 3))

Multification  6
Addintion  5
Subtraction  -1
Division  0.6666666666666666

In [192]:
w = lambda a, b, c, d : a + b+ c+ d

print(w(2, 1, 5, 3,))

11

In [196]:
def fun(n):
    return lambda a : a* n

myd = fun(3)

print(myd(11))

33

# Array

In [206]:
# array

a = ['honda', 'hero', 'yama']

for x in a:
    
print(x)

IndentationError: expected an indented block (<ipython-input-206-704dbe7999de>, line 7)

In [207]:
a.pop(1)

IndexError: pop index out of range

In [208]:
print(a)

['honda']

In [209]:
a.remove('yama')

ValueError: list.remove(x): x not in list

In [210]:
print(a)

['honda']

#  Method

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

In [215]:
b = [2,4,1,58, 77,22,10]

In [216]:
b.append(11)

print(b)

[2, 4, 1, 58, 77, 22, 10, 11]

In [217]:
#b.remove()

In [219]:
c=b.copy()
c

[2, 4, 1, 58, 77, 22, 10, 11]

In [220]:
c

[2, 4, 1, 58, 77, 22, 10, 11]

In [224]:
d=c.count()

TypeError: count() takes exactly one argument (0 given)

In [227]:
# show the index of elements
c.index(58)

3

In [231]:
c.insert(0:3)

SyntaxError: invalid syntax (<ipython-input-231-191cb920f5b5>, line 1)

In [233]:
c.sort()
c

[1, 2, 4, 10, 11, 22, 58, 77]

In [234]:
c.reverse()
c

[77, 58, 22, 11, 10, 4, 2, 1]

# class

In [236]:
class person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
        
p1=person('Sac', '29')
print(p1.name)
print(p1.age)

Sac
29

# built in function

In [248]:
# abs
a = 10
b ='char'
#a.abs(a)

In [252]:
b.bin()

AttributeError: 'str' object has no attribute 'bin'

In [255]:
b.bool(b)

AttributeError: 'str' object has no attribute 'bool'